<nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://next-step-employment-app.herokuapp.com/">
                    <img src="../public/images/Logo.png" width="112" height="28">
                </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/">
                  Home
                </a>
          
                <a class="navbar-item" href="/profile">
                    Profile
                </a>

                <a class="navbar-item" href="#">
                    Post a Job
                </a>

                <a class="navbar-item" href="/manager/{{manager.id}}/jobs">
                    View Your Listings
                </a>
            </div>

        
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary">
                            <strong>Sign Out</strong>
                        </a>
                    </div>
                </div>
            </div>
    </nav>


<section class="container">

    <div class="field">
        <label class="label is-medium">Job Title:</label>
        <div class="control has-icons-left has-icons-right">
            <input class="input is-medium jobtitleInput" type="email" placeholder="Job Title">
            <span class="icon is-small is-left">
                <i class="fas fa-envelope fa-xs"></i>
            </span>
            <span class="icon is-small is-right">
                <i class="fas fa-check fa-xs"></i>
            </span>
        </div>
    </div>

    
    <div class="field">
        <label class="label">Job Description:</label>
        <div class="control">
            <textarea class="textarea jobdescriptionInput" placeholder="Textarea"></textarea>
        </div>
    </div>



    <div class="field">
        <label class="label is-medium">Contact Phone:</label>
        <div class="control has-icons-left has-icons-right">
            <input class="input is-medium jobphoneInput" type="email" placeholder="Normal">
            <span class="icon is-medium is-left">
                <i class="fas fa-envelope"></i>
            </span>
            <span class="icon is-medium is-right">
                <i class="fas fa-check"></i>
            </span>
        </div>
    </div>

<div class="control">
    <label class="radio">
        <input type="radio" name="answer" value="ft">
        Full-Time
        </label>
    <label class="radio">
        <input type="radio" name="answer" value="pt">
            Part-Time
    </label>
</div>

    <div class="field">
        <label class="label is-medium">Job Wage:</label>
        <div class="control has-icons-left has-icons-right">
            <input class="input is-medium jobwageInput" type="email" placeholder="Wage">
    </div>


    <div class="control">
        <button class="button is-primary is-medium job-submit">Submit</button>
      </div>
</section>