<nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                    <img src="/images/Logo.png" width="112" height="28">
                </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/">
                  Home
                </a>
          
                <a class="navbar-item" href="/profile">
                    Profile
                </a>

                <a class="navbar-item" href="/job/create">
                    Post a Job
                </a>

                <a class="navbar-item" href="#">
                    View Your Listings
                </a>
            </div>

        
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary" href='/logout'>
                            <strong>Sign Out</strong>
                        </a>
                    </div>
                </div>
            </div>
    </nav>


<div class="container">

    <div id="job-header">
        <div class="page-title">
            Your Posted Jobs
        </div>
    </div>


<div class="columns jobs-column">

        {{#each jobs}}
            {{> jobs/jobsmanager}}
        {{/each}}

    </div>

</div>



<footer class="footer">
    <div class="content has-text-centered">
         <p>
            Copyright 2020 by Team 2
        </p>
    </div>
</footer>