/* Shared Component Styling */
.button {
    background-color: #63a0b7;
    color: #000c20;
}

.is-primary {
    background-color: #97d9d9;
    color: #000c20;
}

.button.is-primary {
    background-color: #97d9d9;
    color: #000c20;
    font-weight:bold;
}
.button.is-primary:hover {
    background-color: #63a0b7;
    color: white;
}
.button.is-link {
    background-color: #97d9d9;
    color: #000c20;
    font-weight: bold;
}

.button.is-link:hover {
    background-color: #63a0b7;
    color: white;
}
.button.is-link.is-light {
    
    color: #000c20;
}

.button.is-link.is-light:hover {
    
    color: #000c20;
}

.modal-close:hover {
    background-color: #c9072a;
}

.footer {
    background-color: #000c20;
    color:rgb(211, 211, 211);
    font-weight: bold;
    bottom: 0;
    overflow: auto;
    width: 100%;
}

.delete {
    background-color: #c9072a;
}

.navbar {
    background-color: #97d9d9;
    height: 80px;
    font-weight: bold;
}

.page-title {
    margin-top: 15px;
    text-align: center;
    font-size: 25px;
    padding-bottom: 20px;
}

.panel-heading {
    background-color: #000c20;
    color: white;
}

.dropdown-content {
    background-color: rgb(231, 231, 231);
}

.container {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Indexpage styling */
.hero {
    background-image: url('../images/hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    color:#000c20;
}

.title {
    color:#000c20;
}

.subtitle {
    color:#000c20;
}

#hero-text {
    background-color: rgb(211, 211, 211, 0.8);
    color: #000c20;
}

#company-login-div {
    margin-top: 20px;
}

.modal-label {
    color: white;
}

.jobs-column {
    flex-wrap: wrap;
    max-width: 96%;
    margin-right: 2%;
    margin-left: 2%;
}

.companyForm {
    display: none;
}

/* User Profile Page Styling */

.edit-profile {
    display: none;
}

.editbutton {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.manager-welcome {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 15px;
}

.profile-category {
    padding: 5px;
}

.profile-name {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
}

/* Job Listing Page Styling */
#job-header {
    text-align: center;
    font-size: 30px;
}



.dropdown {
    margin-bottom: 20px;
}

.job-description-short {
    height: 48px;
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
   -webkit-box-orient: vertical;
}

#contact-form {
    width: 95%;
}
/* Manager Job Page Styling */

.managerjob-buttons {
    display: flex;
    justify-content: center;
}


/* Job detail styling */
#job-detail-card {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
#job-detail-card p {
    padding-top: 10px;
}


#job-title {
    font-size: 25px;

}

#job-info {
    padding-left: 16px;
    padding-right: 16px;
}

#job-manager {
    padding-left: 16px;
    padding-right: 16px;
}
#job-manager h2{
    font-size: 20px;
}
#job-manager button {
    display: block;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-subtitle {
    margin-bottom:10px;
}

.checkbox {
    padding-top: 3px;
    padding-left: 5px;
    padding-right: 15px;
}

.radio {
    padding-top: 9px;
}

/* use this for media breakpoints */

@media only screen and (max-width: 768px) {

    .manager-profile {
        margin-left: 10px;
        margin-right: 10px;
    }

    .edit-profile {
        margin-left: 10px;
        margin-right: 10px;
    }

    .page-title {
        padding-bottom: 10px;
    }


    #job-detail-card {
        width: 90%;
    }
  }