/* Shared Component Styling */
.button {
    background-color: #63a0b7;
    color: #000c20;
}

.is-primary {
    background-color: #97d9d9;
    color: #000c20;
}

.button.is-primary {
    background-color: #97d9d9;
    color: #000c20;
}
.button.is-primary:hover {
    background-color: #63a0b7;
}

.footer {
    background-color: #000c20;
    color:rgb(211, 211, 211);
    font-weight: bold;
}

.delete {
    background-color: #c9072a;
}

.navbar {
    background-color: #97d9d9;
    height: 80px;
}


.panel-heading {
    background-color: rgb(211, 211, 211, 0.8);
}

.dropdown-content {
    background-color: rgb(211, 211, 211, 0.8);
}
/* Indexpage styling */
.hero {
    background-image: url('../images/hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    color:#000c20;
}

.title {
    color:#000c20;
}

.subtitle {
    color:#000c20;
}

#hero-text {
    background-color: rgb(211, 211, 211, 0.8);
    color: #000c20;
}

#company-login-div {
    margin-top: 20px;
}



.modal-label {
    color: white;
}

.jobs-column {
    flex-wrap: wrap;
    max-width: 90%;
}

.companyForm {
    display: none;
}

.edit-profile {
    display: none;
}

.card-header-title {
    font-size: 30px;
}

.profile-category {
    padding: 5px;
}

/* Job Listing Page Styling */
#job-header {
    text-align: center;
}

.dropdown {
    margin-top: 20px;
    margin-bottom: 20px;
}

.job-description-short {
    height: 48px;
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
   -webkit-box-orient: vertical;
}
/* use this for media breakpoints */

/* @media only screen and (max-width: 768px) {
    
  } */