.hero {
    background-color: salmon;
    background-image: url('../images/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    color:#000c20;
}
.title {
    color:#000c20;
}
.subtitle {
    color:#000c20;
}
.login-div {
    background-color: #97d9d9;
    color: #000c20;

}
.button {
    background-color: #63a0b7;
    color: white;
}

@media only screen and (max-width: 768px) {
    .login-div {
      /* background-color: transparent; */
    }
  }